{%extends "layout.html" %}
{% block title %}Rooms Info{% endblock %}
{% block content %}

<div class="container mt-3">
    <h2 class="text-center">Rooms Info</h2>           
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Sr. No.</th>
          <th>Room type</th>
          <th>Room Facilities</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Single Room Non Ac</td>
          <td>1 Double Bed, Television, Telephone, Double-Door Cupboard, 1 Coffee table with 2 sofa, Balcony and an attached washroom with hot/cold water.</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Double Room Non Ac</td>
          <td>2 Double Bed, Television, Telephone, Double-Door Cupboard, 2 Coffee table with 3 sofa, Balcony and an attached washroom with hot/cold water.</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Single Room Ac</td>
          <td>1 Double Bed, Television, Telephone, Double-Door Cupboard, 1 Coffee table with 2 sofa, Balcony and an attached washroom with hot/cold water + Window/Split AC.</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Double Room Ac</td>
          <td>2 Double Bed, Television, Telephone, Double-Door Cupboard, 2 Coffee table with 3 sofa, Balcony and an attached washroom with hot/cold water + Window/Split AC.</td>
      </tbody>
    </table>
</div>  

{% endblock %}